        <aside id="sidebar" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="sidebarLabel">
            <div class="sidebar-logo offcanvas-header">
                <a href="#"><img src="./assets/logo.png" class="sk-logo">SK Calamba</a>
                <button type="button" class="btn text-reset " data-bs-dismiss="offcanvas" aria-label="Close"><i class="lni lni-xmark" style="color: #fff;"></i></button>
            </div>
            <ul class="sidebar-nav offcanvas-body p-0">
        
                <li class="sidebar-item" data-bs-dismiss="offcanvas">
                    <a href="Announcements.php" class="sidebar-link" >
                        <i class="lni lni-bell-1"></i>
                        <span>Announcements</span>
                    </a>
                </li>
                
                <li class="sidebar-item" data-bs-dismiss="offcanvas">
                    <a href="user-registration.php" class="sidebar-link" >
                        <i class="lni lni-user-4"></i>
                        <span>User Registration</span>
                    </a>
                </li>
                
                <li class="sidebar-item" data-bs-dismiss="offcanvas">
                    <a href="Feedback.php" class="sidebar-link" >
                        <i class="lni lni-agenda"></i>
                        <span>Feedbacks</span>
                    </a>
                </li>
                
                <li class="sidebar-item" data-bs-dismiss="offcanvas">
                    <a href="Deletion_Request.php" class="sidebar-link" >
                        <i class="lni lni-trash-3"></i>
                        <span>Deletion Request</span>
                    </a>
                </li>
                <!--<li class="sidebar-item"></li>-->
                <!--    <a href="#" class="sidebar-link" data-bs-dismiss="offcanvas">-->
                <!--        <i class="fa-solid fa-right-from-bracket"></i>-->
                <!--        <span>Logout</span>-->
                <!--    </a>-->
                <!--</li>-->
            </ul>
        </aside>